* {
    margin: 10;
    padding: 0;
    box-sizing: border-box;
}

.Formulario {
    width: 400px;
    background-color: rgb(212, 218, 208);
    padding: 20px;
    margin: 10px;
    margin-top: 50px;
    border-radius: 20px;
    border: solid rgb(245, 243, 235) 

}

.control {
    width: 70%;
    padding: 10px;
    margin: 2px;
    border-radius: 20px;
    border: 2px solid rgb(237, 241, 242);
}